
.se-img{
@extend %section-styling;
@extend %paddingAllround;
}
.se-card{
    @extend %paddingAllround;
    @extend %section-styling;
}
%section-styling{
    width: 70%;
    height: auto;
    margin-left:15%;
    background-color: pink;
}
%paddingAllround{
    padding:2%;
    margin-bottom: 1.5em;
}
.navbar{
    
    .logoAbout{
        height: auto;
        width:20%;
        margin-left: 10%;
        
    }
    .navbox{
       width:70%;
       padding-right: 10%;
        
    }

}
.aboutHeader{
    margin-bottom: 3%;
    li {
        display:inline-flex;
        justify-content: right;
        align-content: right;
        flex-direction: column;
        float: right;
    }
    a{
        color: white;
        text-decoration: none;
        text-transform:uppercase;
        
    }
    a:hover {
        text-shadow: 0 0 2rem rgba($color: white, $alpha: 1);
    }
    .highlight, .current a {
    
        color: #e8491D;
        font-weight: bold;
    }
    .current a:hover{
        text-shadow: 0 0 2rem rgba($color: #e8491D, $alpha: .1);
    }
    background: #35424a;
    color: #ffffff;
    max-height: 10%;
    border-bottom: #e8491D 3px solid;
        /* Column | row */
}




