
.se-img{
    @extend %section-styling;
    @extend %paddingAllround;
}
.se-card{
    @extend %paddingAllround;
    @extend %section-styling;
}
%section-styling{
    width: 70%;
    height: auto;
    margin-left:15%;
   /* From https://css.glass */
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
%paddingAllround{
    padding:2%;
    margin-bottom: 1.5em;
}
.se-card{
    img{
        border-radius: 5%;
    }
}




