#mycard1:hover, #mycard2:hover, #mycard3:hover, #mycard4:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#cb1,
#cb2,
#cb3,
#cb4 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#b1:hover, #b2:hover, #b3:hover, #b4:hover {
  -webkit-box-shadow: 0 0 20px rgba(248, 207, 132, 0.5);
          box-shadow: 0 0 20px rgba(248, 207, 132, 0.5);
}

.se-img, .se-card {
  width: 70%;
  height: auto;
  margin-left: 15%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.se-img, .se-card {
  padding: 2%;
  margin-bottom: 1.5em;
}

.se-card .row #brian, .se-card .row #galal, .se-card .row #cyraz, .se-card .row #klarida, #mycard1, #mycard2, #mycard3, #mycard4 {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  margin-top: 1em;
}

#rounding1, #rounding2, #rounding3, #rounding4 {
  border-radius: 1em;
  color: white;
  background-color: #35424a;
  margin-bottom: 3%;
}

#b1,
#b2,
#b3,
#b4 {
  background-color: orange;
  border-color: orange;
}

.parallax {
  background-image: url("../images/para.jpg");
  margin-bottom: 2em;
  height: 40%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body, html {
  height: 100%;
}

.middling {
  text-align: center;
}

.heroheader {
  color: white;
  text-transform: uppercase;
}

* {
  padding: 0;
  margin: 0;
  color: #fff;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: none;
}

body {
  width: 100%;
  height: 100vh;
  background-size: 100% 100vh;
  position: relative;
  background-repeat: no-repeat;
}

header {
  position: absolute;
  text-align: center;
  width: 75%;
  left: 12%;
  top: 2rem;
}

header h1 {
  font-size: 30px;
}

.empty {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  display: flex;
  min-height: 110vh;
}

.content section {
  margin-top: 8vh;
  margin-left: 20vh;
}

.content form {
  margin-top: 7rem;
}

.section i {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  text-align: center;
}

.form {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
}

.form .contact-form input {
  width: 30rem;
  background-color: transparent;
  border: 0px;
  border: transparent;
  margin: 20px;
  padding: 20px;
  font-size: 18px;
  border-bottom: 2px solid #fff;
}

.form .contact-form input ~ span {
  position: absolute;
  left: 20px;
  transition: 0.9s ease-in-out;
  margin-top: 10px;
}

.form .contact-form input:focus ~ span {
  transform: translateY(-20px);
  pointer-events: none;
}

.form .contact-form textarea {
  width: 30rem;
  border: 0;
  background-color: transparent;
  margin: 20px;
  font-size: 17px;
  border-bottom: 2px solid #fff;
}

.form .contact-form textarea ~ span {
  position: absolute;
  left: 20px;
  margin-top: 10px;
  transition: 0.9s ease-in-out;
}

.form .contact-form textarea:focus ~ span {
  transform: translateY(-20px);
  pointer-events: none;
}

.form .contact-form input[type=submit] {
  background-color: dodgerblue;
  border: 2px solid dodgerblue;
  font-size: 18px;
  width: 50%;
  height: 40px;
  margin-top: -5px;
}

.form .contact-form input[type=submit]:hover {
  background-color: transparent;
  color: dodgerblue;
}

.media {
  position: absolute;
  top: 85vh;
  right: 20vh;
  display: flex;
  list-style: none;
}

.media li {
  margin: 20px 30px;
}

/*coding for responsive */
@media screen and (max-width: 900px) {
  body {
    background-repeat: repeat-y;
    overflow: auto;
  }

  header {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
  }

  .empty {
    height: 200vh;
  }

  .form {
    position: absolute;
    top: 100vh;
    margin-left: 10%;
  }

  .content-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    margin-top: 53vh;
    margin-left: 10vh;
  }

  .content-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    margin-top: 53vh;
    margin-left: 10vh;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: rgba(147, 208, 162, 0.7137254902);
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #35424a;
  text-align: center;
}

#currnt {
  color: #0077ff;
}

.nav-link {
  text-transform: uppercase;
}
/*# sourceMappingURL=styles.css.map */
